nav{
    width: 100dvw;
    height: fit-content;
    background-color: #0d6efd;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    display: flex;
    flex-direction: row;
    padding:0 1rem;
    justify-content: space-between;
}
nav div{
    padding: 0.5rem;
    color: white;
}