body {
    /* display: flex; */
    width: 100dvw;
    height: 100dvh;
    background-image: url(src/assets/bgweb.svg);
    overflow-x: hidden;
    /* font-family: "Raleway", sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
}
#root{
    width: 100dvw !important;
    padding: 4rem;
    margin:0 auto;
}
/* .row{
    grid-template-columns: repeat(4, 1fr) !important;
    
} */

.box::before,
.box::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-image: conic-gradient(from var(--angle), #0d6efd, blue, indigo);
    /* top:100%; */
    animation: animate 2s ease-in infinite;
    z-index: -2;
}

.box::before {
    transform: scale(1.064);
    filter: blur(20px);
    /* top:200%; */
}

.box img {
    max-width: 100%;
}
.cardImg{
    width: 50dvw;
    height: 50dvw;
    background-color: transparent !important;
    background-image: url("../public/vecteezy_vector-illustration-of-high-school-building-vector-school_.jpg");
    background-size: contain;
}
@keyframes animate {
    to {
        --angle: 360deg;
    }
}
@media (max-width:720px) {
    #root{
        padding: 2rem;
    }
}