.mainCarousel{
    position: relative;
}
.infiniMage{
    aspect-ratio: 4/3;
    object-fit: cover;
    filter: blur(2px) grayscale(1);
    animation: carousel 120s infinite;
    transition: 1s;
    transition-delay: 1s;
}
.infiniMage:hover{
    filter: blur(0) grayscale(0);
    transition: 1s;
    transition-delay: 1s;
}
#leftShadow{
    background-color: transparent;
    background-image: linear-gradient(to right,white,transparent);
    position: fixed;
    height: 150%;
    width: 50%;
    z-index: 8;
    margin: 0 -2rem;
}
#rightShadow{
    background-color: transparent;
    background-image: linear-gradient(to left,white,transparent);
    position: fixed;
    height: 150%;
    width: 50%;
    right: 0;
    margin:0 -2rem;
    z-index: 9;
}
@keyframes carousel {
    from{
        transform: translateX(0)
    }to{
        transform: translateX(calc(-25dvw*15));
    }
}